
/* COLORS
Bright orange: #e38826
Dark cyan: #006970
Very dark cyan: #004241
*/

/* RESET */

*,
*::before,
*::after {
    box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    width: 6rem;
}


body {
  font-family: 'Lexend Dexa', sans-serif;
  color: hsl(0, 8%, 96%);
  margin: 0;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.cards {
    width: 90%;
    max-width: 62rem;
    margin: 4em auto;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media (min-width: 50rem) {
    .cards {
        flex-direction: row;
    }
}


.card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2em;
}

.card__title {
    text-transform: uppercase;
}

.card__paragraph {
    color: hsla(0, 0%, 100%, 0.75);
    max-width: 35rem;
}


/* GENERAL BUTTON STYLES */
.button {
    text-decoration: none;
    background-color: hsl(0, 8%, 96%);
    display: inline-block;
    padding: 1em 2em;
    border-radius: 1.6em;
    margin-top: auto;
    margin-right: auto;
}

.button:hover {
    background-color: transparent;
    outline: 1px solid hsl(0, 8%, 96%);
    color: hsl(0, 8%, 96%);
}

/* CARD-SPECIFIC STYLES */
.first-card__button {
    color: #e38826;
}

.second-card__button {
    color: #006970;
}

.third-card__button {
    color: #004241;
}

.first-card {
    background-color: #e38826;
}

.second-card {
    background-color: #006970;
}

.third-card {
    background-color: #004241;
}



